# Byte-compiled / optimized / DLL files
__pycache__/
*.egg-info/

# exclude data
data/external/**/*.gz
data/external/**/raw/**
data/external/*.pt
data/external/*.csv
data/raw/*.arff

# Mac OS-specific storage files
.DS_Store

# caches and db
.vscode/
.mypy_cache/
**/checkpoint.pt
.ipynb_checkpoints/
.lycheecache
**/gestures/
.venv
.notebookcache
*.db

# hypertuning, logs
**/mlruns/*
**/models/
**/modellogs/*
**/logs/
**/demo/
**/*.log
model.toml
settings.toml
*.pt
