# hypertuning
**/mlruns/*
**/models/
**/modellogs/*
**/logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.egg-info/


# Database
*.db
*.rdb

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
data/external/**/*.gz
data/external/**/raw/**
data/external/*.pt
data/external/*.csv
data/raw/*.arff

# Mac OS-specific storage files
.DS_Store

.mypy_cache/
**/checkpoint.pt
.pdm-python
.lycheecache
**/*.log
**/gestures/
.venv
