# hypertuning
**/mlruns/*
**/models/
**/logs/

# Byte-compiled / optimized / DLL files
__pycache__/


# Database
*.db
*.rdb

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
data/*

# Mac OS-specific storage files
.DS_Store

# Mypy cache
.mypy_cache/

**/checkpoint.pt
.pdm-python
